# File binary/output
*.exe
*.out
*.o
*.obj
*.dll
*.so
*.a
*.class
*.pyc

# File build
/build/
/bin/
/debug/
/release/

# File editor dan IDE
*.log
*.user
*.suo
*.vcxproj*
*.code-workspace
*.DS_Store

# Code::Blocks
*.layout
*.depend
*.cbp
*.layout
*.autosave

# VSCode
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Backup/temporary
*~
*.swp
*.bak
*.tmp
